ComillaCentralMedical/obj/Debug/ComillaCentralMedical.csproj.FileListAbsolute.txt


.vs/
bin/
obj/
packages/
TestResults/
node_modules/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.pdb
*.cache
*.dbmdl

*.vspscc
*.vssscc
*.class
*.csproj.user
*.ncrunch*

secrets.json
*.key
*.cer
*.pfx

